@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins',sans-serif;
}
body{
    background:linear-gradient(262deg, rgb(81, 14, 190), #54f9ff);
    overflow: hidden;
    color: white;
}


.container{
    background: linear-gradient(262deg, rgb(26 26 26), #262626);
    width: 60%;
    height: 900px;
    margin: 0 auto;
    position: relative;
    margin-top: 30px;
    box-shadow: 6px 8px rgb(36, 30, 121);
    border-radius: 1em;
}
.leftBox{
    float: left;
    top: -1%;
    left: 5%;
    position: absolute;
    width: 25%;
    height: 102%;
    background: linear-gradient(262deg, rgb(91, 89, 95), #97a9aa);
    box-shadow: 2px 5px 20px black;
}

nav a{
    
    list-style: none;
    padding: 60px;
    font-size: 1.1em;
    display: block;
}
nav a:hover{
    color: black;
    cursor: pointer;
    background:linear-gradient(262deg, rgb(24, 21, 29), #97a9aa);
    font-size: 20px;
    font-weight: bold;

}
.rightBox{
    padding-top: 15px;
    width: 60%;
    margin-left: 35%;
}
h1{
    color: white;
    margin-top: 20px;
    font-size: 4em;
}
h2{
    font-size: 15px;
    margin-top: 20px;
    margin-left: 5px;
}

.input, p{
    border: 0;
    border-bottom: 1px solid black;
    background-color: wheat ;
    width: 80%;
    font-size: 1.2em;
    padding: 7px 0;
    outline: none;
}
.btn{
    margin-top: 25px;
    font-size: 1.2em;
    border: none;
    box-shadow: 0px 0px 3px 3px wheat;
    background-color: white;  
     
    padding: 10px; 
}
.btn:hover{
    cursor: pointer;
}
.container .backIcon{
    padding: 10px;
    font-size: 35px;
    color: black;
    background: linear-gradient(262deg, rgb(85 80 94), #99bbbd);
}
.tab:visited{
    color:black;
}
.rightBox .editShow input{
    background-color: gray ;
    border-radius: 10px;
    padding-left: 5px;
}

.rightBox .editShow textarea{
    background-color: gray ;
    border-radius: 10px;
    padding-left: 5px;
}

.rightBox .editShow .btn{
    background-color: wheat ;
    
    padding-left:0;
}

