<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/chat.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
</head>
<body>
    <div class="wrapper">
        <section class="chatArea">
            <header>
                <a href="users.php" class="backIcon"><i class="fas fa-arrow-left"></i></a>
                <img src="img/test_mage.jpg" alt="">
                <div class="details">
                    <span><?php echo $otherMan["username"];?></span>
                    <p><?php echo $otherMan["status"];?></p>
                </div>
            </header>
            <div class="chatBox">
              
            </div>
            
            <form action="#" class="typingArea" autocomplete="off">
                <input type="text" name="outgoing_id" value="<?php echo $otherMan['id']; ?>" hidden>
                <input type="text" name="incoming_id" value="<?php echo $myMan['id']; ?>" hidden>
                <input type="text" name="message" class="inputField" placeholder="írj egy üzenetet..." maxlength="100">
                <button><i class="fab fa-telegram-plane"></i></button>
            </form>
        </section>
    </div>
    <script src="javascript/chat.js"></script>
</body>
</html>