<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/mainstyle.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link href="https://vjs.zencdn.net/7.20.3/video-js.css" rel="stylesheet" />

    <title>Fő oldal</title>
</head>

<body>
    <div calss="container">
        <div class="side">
            <div class="header">
                <div class="avatar">
                    <img src="img/test_mage.jpg" alt="">
                </div>
                <div class="titel">
                    <?php echo $_SESSION['username']?></div>
            </div>
            <div class="games">
                <ul>
                </ul>
            </div>

            <div id="panel">
                <section id="left">
                    <p class="chat" onclick="" style="cursor: pointer;"><a href="users.php">Csevegés</a></p>
                    <p class="skipp" onclick="matchPlayer(false)" style="cursor: pointer;"><span>🙏</span></p>
                    <p class="myusername">
                        <?php echo $_SESSION['username']?>
                    </p>
                </section>
                <section id="middle">
                    <div class="userimg">
                        <a href="javascript:;" onclick="prevVideo();" id="previous">Előző videó</a>
                        <div id="videoPlayerDiv">
                            <video id="videoPlayer" width="800" height="450" controls>
                                <source id="videoPlayerSource">
                            </video>
                        </div>
                        <a href="javascript:;" onclick="nextVideo();" id="next">Következő videó</a>
                    </div>
                    <div class="description">
                        <div><span id="username">Felhasználó Név: </span></div>
                        <div id="screennameDiv">Játékon belüli név: <span id="screenname"></span></div>
                        <div id="rankDiv">Játékon belüli rang: <span id="rank"></span></div>
                        <div id="descriptionsDiv">Leírás: <span id="descriptions"></span></div>
                    </div>
                    <button class="button-85" role="button">✨</button>
                </section>
                <section id="right">
                    <p class="settings" onclick="" style="cursor: pointer;"><a href="profile.php">Beállítások</a></p>
                    <p class="play" onclick="matchPlayer(true)" style="cursor: pointer;"><span>🤝</span></p>
                    <p class="logout" onclick="" style="cursor: pointer;"><a href="logout.php">Kijelentkezés</a></p>
                </section>
            </div>

        </div>
        <div class="content"></div>
    </div>
</body>
<script type="text/javascript " src="includes/jquery-3.6.1.js"></script>
<script src="https://vjs.zencdn.net/7.20.3/video.min.js"></script>
<script>
    currentGameId = 3;
    currentPlayerId = -1;
    currentPlayerVideos = [];
    currentVideoId = 0;

    function getGames() {
        $.ajax({
            method: "get",
            url: "game.php",
            data: {
                action: "getAllGames",
            },
            success: function(data) {
                response = JSON.parse(data);
                $(".jsItem").detach();
                activeClass = ", active";
                response.forEach(element => {
                    $("div.games ul").append("<li class='jsItem" + activeClass + "' value='" + element.id + "''  onclick='switchGame(" + element.id + ");'>" + element.name + "</li>");
                    
                    activeClass = "";
                });
            }
        });
    }
    function hideUserDetails() {
        var videoElm = document.getElementById('videoPlayer');
        var videoSourceElm = document.getElementById('videoPlayerSource');
        $("#videoPlayerDiv").hide();
        $("#next").hide();
        $("#previous").hide();
        $("#screennameDiv").hide();
        $("#rankDiv").hide();
        $("#descriptionsDiv").hide();
        videoElm.pause();
    }
    function showUserDetails() {
        var videoElm = document.getElementById('videoPlayer');
        var videoSourceElm = document.getElementById('videoPlayerSource');
        $("#videoPlayerDiv").show();
        $("#next").show();
        $("#previous").show();
        $("#screennameDiv").show();
        $("#rankDiv").show();
        $("#descriptionsDiv").show();
        videoElm.pause();
    }

    function switchGame(gameId) {
        currentGameId = gameId;
        currentPlayerVideos = [];
        currentVideoId = 0;
        $("div.games li").each(function(index) {
            if ($(this).val() == gameId) {
                $(this).addClass("active");
               
            } else {
                $(this).removeClass("active");
            }

        });
        showNextPlayer();
    }

    function showNextPlayer() {
        $.ajax({
            method: "get",
            url: "game.php",
            data: {
                action: "getNextPlayer",
                game_id: currentGameId
            },
            success: function(data) {
                console.log(data);
                response = JSON.parse(data);
                console.log(response);
                if (response.length < 1) {
                    $("#username").text("Nincsenek további felhasználók akik erre a játékra keresnek partnert.");
                    hideUserDetails();
                } else {
                    currentPlayerId = response[0].id;
                    currentPlayerVideos = [];
                    currentVideoId = 0;
                    $("#username").text(response[0].username);
                    $("#screenname").text(response[0].screenname);
                    $("#rank").text(response[0].rank);
                    $("#descriptions").text(response[0].description);
                    getVideos(currentGameId, currentPlayerId);
                }

            }
        });
    }

    function matchPlayer(matched) {
        $.ajax({
            method: "post",
            url: "game.php",
            data: {
                action: "matchPlayer",
                player_id: currentPlayerId,
                match: matched,
                game_id: currentGameId
            },
            success: function(data) {
                console.log(data);
                showNextPlayer();
            }
        });
    }

    function getVideos(gameId, userId) {
        $.ajax({
            method: "get",
            url: "game.php",
            data: {
                action: "getVideos",
                game_id: gameId,
                player_id: userId
            },
            success: function(data) {
                console.log(data);
                response = JSON.parse(data);
                console.log(response);
                currentPlayerVideos = response;
                currentVideoId = 0;
                if (currentPlayerVideos.length > 0) {
                    playVideo();
                    showUserDetails();
                }
                else{
                    hideUserDetails();
                }
            }
        });
    }

    function nextVideo() {
        if (currentVideoId + 1 < currentPlayerVideos.length) {
            currentVideoId += 1;
            playVideo();
        }
    }

    function prevVideo() {
        if (currentVideoId > 0) {
            currentVideoId -= 1;
            playVideo();
        }
    }

    function playVideo() {
        var videoElm = document.getElementById('videoPlayer');
        var videoSourceElm = document.getElementById('videoPlayerSource');
        if (!videoElm.paused) {
            videoElm.pause();
        }
        videoSourceElm.src = currentPlayerVideos[currentVideoId].filename;
        videoSourceElm.type = "video/mp4";
        videoElm.load();
        videoElm.volume = 0.04;
        videoElm.play();



    }

    getGames();
    showNextPlayer();
</script>

</html>